@media (max-width:500px)  {
    .box{
        width: 200px;
    
    }
    .cs-hidden{
        align-items: flex-start;
        justify-content: flex-start;
        align-content: flex-start;
    }
    #slider ul {
        margin-right: 3px;
    }
    .slide-img{
        height: 300px;
        
    }
    .box-book{
        margin: 10px;
    }
    .top-item img{
        border: 5px solid transparent;
        box-shadow: inset 0px 1px 1px 0px #0c0903;
        /* box-shadow: 10px 0 5px -2px rgb(12, 11, 11); */
        cursor: pointer;
        width: 25%;
        height: 25%;
        padding: 3px ;
        transform: perspective(1000px) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
        transition: all ease-in-out 1s;
        position: relative;
        z-index: 0;
      }
      .btn2-grad {
        margin: 5px;
        padding: 10px 30px;
        text-align: center;
        text-transform: uppercase;
        transition: 0.5s ease-in-out;
        background-size: 200% auto;
        color: white;            
        box-shadow: 0 0 20px rgb(215, 180, 243);
        border-radius: 10px;
        display: block;
        border-radius: 25px;
        font-weight: 200;
        font-size: medium;
      }
      .card{
          width: 300px;
          height: 150px;
      }
      .card-text{
          display: none;
      }
      .card-title{
          position: absolute;
          top: 20px;
          margin: 1px;
          font-size: medium;
          font-weight: 200;
      }
      .img-music{
          width: 100%;
          height: 110px;
      }
      .music-player{
          position: absolute;
          bottom: 5px;
          height: 30px;
          left: 0;
          border-radius: 0px;
          background: transparent;
          width: 100%;
      }
    .more{
        font-size: smaller;
        bottom: 40px;
        height:40px;
        width: 135px;
    }
    .scroll-down{
        width: 30px;
        height: 30px;
        border: 2px solid rgb(12, 160,255);
        position: absolute;
        bottom: 25px;
        left: 50%;
        border-radius: 50px;
        cursor: pointer;
    }
}

