@font-face {
    font-family: 'Vazir';
    src: url('../fonts/Vazir.eot'); /* IE9 Compat Modes */
    src: url('../fonts/Vazir.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/Vazir.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/Vazir.woff') format('woff'), /* Pretty Modern Browsers */
         url('../fonts/Vazir.ttf')  format('truetype'), /* Safari, Android, iOS */
  }
  
  /* Reset */
  * {
    margin: 0;
    padding:0;
    box-sizing: border-box;
    letter-spacing: 4;

  }
  

  /* Main Styling */
  html,body {
    font-family: 'Vazir', Arial, Helvetica, sans-serif;
    line-height: 1.4;
  }
  
  a {
    text-decoration: none;
  }
  /* Utility Classes */
  
  .container{
    max-width: 1100px;
    
    margin-left: auto;
    margin-left: auto;
    
    overflow: hidden;
    
    overflow-y: hidden;
    scroll-behavior: smooth;
    
  }
  .card{
    scroll-behavior: smooth;
    align-items: center;
    max-width: 1100px;
    overflow: hidden;
   display: flex;
   margin-left: auto;
   margin-right: auto;
   overflow-y: hidden;
   padding: 1rem;
pointer-events: none;
   
  }
  .card::after{
    content: 'more ';
    max-width: 50px;
    height: 20px;
  }
  .cont{
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    margin-left: auto;
    margin-right: auto;
    max-width: 980px;
    display: flex;
    pointer-events: none;
    justify-content: center;
    align-items: center;
  }
  
 .cont::after{
    pointer-events: auto;
    cursor: pointer;
    content: '';
    background: url('../img/circle-arrow-right-solid.svg')no-repeat;
    width: 100px;
    height: 80px;
    font-family: "Font Awesome 5 Free";
  } 

   .cont::before{
    pointer-events: all;
    transition-duration: 1.5s;
     /* transform: scale(1.2,1.2);  */
     transform: rotate(1deg) translate(20px,0px);
    cursor: pointer;
    content: '';
    background: url('../img/circle-arrow-left-solid.svg')no-repeat;
    
    width: 100px;
    height: 80px;
    font-family: "Font Awesome 5 Free";
  }
  
  .cont:hover::before{
    transition:0.8s ease-in;
    background-color: red;
  /* transform: scale(1.2,1.2); */
   transform: rotate(15deg) translate(-20px,0px);
  }
  .conn{
    position: relative;
  }
.a11{
 position: absolute;
  background-color: #139CFF;
  color:white;
  padding: 10px;
  width: 100px;
  height: 100px;
  border-radius: 7px;
  display: inline-block;
  font-family: helvetica;
  z-index: 2;
  transition: all .5s, color .5s linear, border-radius 2s ease-out;
}
.a11:hover{
 
  background-color: #35EC5C;
  color: black;
  border-radius: 30px;
  z-index: -1;
}
.a22{
position: absolute;
  border-radius: 7px;
  left: 0;
  top: 0;
  padding: 10px;
  z-index: 1;
  width: 120px;
  height: 100px;
  background-color: yellowgreen;
}

@keyframes anim{
  0%{width: 0px;height: 0px;}
  100%{width: 100px;height: 100px;}
}

  .cardak{

    background: yellowgreen;
    border: 1px solid #333;
    border-radius: 15px;
    padding: 1rem;
    margin: 1rem;
  }
  
  .bg-dark{
    background: #333;
    color: white;
  }
  
  .bg-light{
  background: #f4f4f4;
  color: #333
  }
  
  .text-primary {
    color: orange
  }
  
  .text-center{
    text-align: center
  }
  
  .list{
    margin: 0.54rem 0;
    list-style: none;
  }
  
  .list li{
    padding: 0.5rem 0;
    border-bottom: #444 dotted 1px;
  }
  
  .l-heading{
    font-size: 2.5rem
  }
  
  
  .bold{
    font-size: 1.3rem;
    font-weight: bold
  }
  .container_btn{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    margin: 0 auto;
  }
  .btn{
    padding: 0.9rem;
    width: 150px;
    display: block;
    margin: 0 auto;
    
    border: none;
    color: white;
    background-color: rgb(255, 0,64);
    border-radius: 4px;
    text-align: center;
    box-shadow: inset 0 0 0 0 yellow;
    transition: ease-in-out 0.3s;
    outline: none;
  }
  
  
  .btn:hover{
    box-shadow: inset 150px 0 0 0 yellow;
  }
  
  
  
  .m-1 {margin: 1rem}
  .m-2 {margin: 1.5rem}
  .m-3 {margin: 3rem}
  
  .p-1 {padding: 1.25rem}
  .p-2 {padding: 2rem}
  .p-3 {padding: 3rem}
  
  .py-1{padding: 1.25rem 0 }
  .py-2{padding: 2rem 0 }
  .py-3{padding: 3rem 0 }
  
  
  #navbar{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    position: sticky;
    top: 0;
    z-index: 1;
  }
  
  #navbar a{
    color: white
  }
  #navbar ul{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    list-style: none;
  }
  
  #navbar ul li a {
    padding: 0.75rem;
    margin: 0 0.25rem;
  }
  
  #navbar ul li a:hover {
    background: orange;
    color: white;
    border-radius: 5px;
  }
  
  #showcase{
    /* background: #333 url('../img/showcase.jpg') no-repeat center center/cover; */
    /* background:  linear-gradient( 174.2deg,  rgba(255,244,228,1) 7.1%, rgba(240,246,238,1) 67.4% ); */
    /* background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%); */
    /* background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%); */
    background: url('../img/background-showcase.jpg') no-repeat center center/cover;
    height: 100vh;
  }
  
  #showcase .showcase-content{
    display: grid;
    /* flex-direction: column; */
    text-align: center;
    
    grid-template-rows: 85vh auto ;
    gap: 0px 0px;
    height: 100vh;
    color: darkturquoise;
 
  
  

    
  }
  .showcase_img {
    position: relative;
    direction: rtl;
    /* flex-direction: column; */
    z-index: 0;
    height:70vh;
    width: 100%;
   
    }
 
     .showcase_img .img{
       width: 35%;
     max-width: 100%;
  position: absolute;
  height:90%;
    display: block;
    top: 20px;
    animation: img_anim 3s;
    }
  .showcase_img .img2 {
    max-width: 100%;
    margin-right: 17%;
    margin-left: 0px;
    width: 80%;
    height:100%;
    animation: img2_anim 4s;
   
  }
  .showcase_img .img3 {
    max-width: 100%;
    width: 25%;
    height: 70%;
    position: absolute;
    top: 5px;
    left: 13%;
  }
  .item_div{

    height: 5vh;
   
  }
  .m-show{
    margin-bottom: 0.6rem;
  }
  
    @keyframes img_anim{
      0%{top: -20px;}
      25%{top: 0px;}
      100%{top: 20px;}
    }
    @keyframes img2_anim{
      0%{margin-right: 0%;}
      25%{margin-right: 10%;}
      100%{margin-right: 17%;}
    }
   
  #section1 .items{
    display: flex;
    padding: 1rem
  }
  
  #section1 .items .item{
    flex: 1;
    text-align: center;
    padding: 1rem
  }
  
  #section1 .items .item i{
    background: orange;
    padding: 1.25rem;
    border-radius: 50%;
  }
  
  #section2{
    display: flex
  }
  
  #section2 div{
    flex:1
  }
  
  #section2 .img {
    background: url('../img/section2.jpg') no-repeat center center/cover;
  }
  
  #section2 .content{
    text-align: right
  }
  
  #section3 .items{
    display: flex;
  }
  
  #section3 .items div{
    flex:1
  }
  
  #section3 .items img{
    border-radius: 50%;
    display: block;
    margin: auto;
    width: 60%;
  }
  
  #contact{
    display: flex;
    justify-content: center;
  }
  
  #contact .contact-form{
    flex-basis: 600px;
    text-align: right
  }
  
  
  
  #contact .contact-form label{
    display: block;
    margin: 1rem 0;
  }
  
  #contact .contact-form input ,
  #contact .contact-form textarea{
    width: 100%;
    padding: 0.5rem
  }
  
  #main-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }