@font-face {
    font-family: 'Vazir';
    src: url('../fonts/Vazir.eot'); /* IE9 Compat Modes */
    src: url('../fonts/Vazir.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/Vazir.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/Vazir.woff') format('woff'), /* Pretty Modern Browsers */
         url('../fonts/Vazir.ttf')  format('truetype'), /* Safari, Android, iOS */
  }
  
  /* Reset */
  * {
    margin: 0;
    padding:0;
    box-sizing: border-box;
    letter-spacing: 4;
   

  }
  

  /* Main Styling */
  html,body {
    margin:0px;
	  padding: 0px;
    font-family: 'Vazir', Arial, Helvetica, sans-serif;
    line-height: 1.4;
    scroll-behavior: smooth;
    /* background-image: linear-gradient(to top, #96fbc3c2 0%, #e2df913d 100%); */
    background: linear-gradient(to bottom right ,#0CEBEB 0%,#20E3B2 50%,#29FFC6 100%);
    direction: rtl;
    overflow-x: hidden;
  }
  
  a {
    text-decoration: none;
  }
  /* Utility Classes */
  
  .container{
    max-width: 1100px;
    
    margin-left: auto;
    margin-left: auto;
    
    overflow: hidden;
    
    overflow-y: hidden;
    scroll-behavior: smooth;
    
  }

  .cont{
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    margin-left: auto;
    margin-right: auto;
    max-width: 980px;
    display: flex;
    pointer-events: none;
    justify-content: center;
    align-items: center;
    
  }
  
 .cont::after{
    pointer-events: auto;
    cursor: pointer;
    content: '';
    background: url('../img/circle-arrow-right-solid.svg') no-repeat;
    width: 100px;
    height: 80px;
    font-family: "Font Awesome 5 Free";
  } 

   .cont::before{
    pointer-events: all;
    transition-duration: 1.5s;
     /* transform: scale(1.2,1.2);  */
     transform: rotate(1deg) translate(20px,0px);
    cursor: pointer;
    content: '';
    background: url('../img/circle-arrow-left-solid.svg') no-repeat;
    
    width: 100px;
    height: 80px;
    font-family: "Font Awesome 5 Free";
  }
  
  .cont:hover::before{
    transition:0.8s ease-in;
    background-color: red;
  /* transform: scale(1.2,1.2); */
   transform: rotate(15deg) translate(-20px,0px);
  }
  .conn{
    position: relative;
  }
.a11{
 position: absolute;
  background-color: #139CFF;
  color:white;
  padding: 10px;
  width: 100px;
  height: 100px;
  border-radius: 7px;
  display: inline-block;
  font-family: helvetica;
  z-index: 2;
  transition: all .5s, color .5s linear, border-radius 2s ease-out;
}
.a11:hover{
 
  background-color: #35EC5C;
  color: black;
  border-radius: 30px;
  z-index: -1;
}
.a22{
position: absolute;
  border-radius: 7px;
  left: 0;
  top: 0;
  padding: 10px;
  z-index: 1;
  width: 120px;
  height: 100px;
  background-color: yellowgreen;
}

@keyframes anim{
  0%{width: 0px;height: 0px;}
  100%{width: 100px;height: 100px;}
}

  /* .cardak{

    background: yellowgreen;
    border: 1px solid #333;
    border-radius: 15px;
    padding: 1rem;
    margin: 1rem;
  } */
  
  .bg-dark{
    background: #333;
    color: white;
  }
  
  .bg-light{
  background: #f4f4f4;
  color: #333
  }
  
  .text-primary {
    color: orange
  }
  
  .text-center{
    text-align: center
  }
  
  .list{
    margin: 0.54rem 0;
    list-style: none;
  }
  
  .list li{
    padding: 0.5rem 0;
    border-bottom: #444 dotted 1px;
  }
  
  .l-heading{
    font-size: 2.5rem
  }
  
  
  .bold{
    font-size: 1.3rem;
    font-weight: bold
  }
  .container_btn{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    margin: 0 auto;
  }
  .btn2{
    padding: 0.9rem;
    width: 150px;
    display: block;
    margin: 0 auto;
    
    border: none;
    color: white;
    background-color: rgb(255, 0,64);
    border-radius: 4px;
    text-align: center;
    box-shadow: inset 0 0 0 0 yellow;
    transition: ease-in-out 0.3s;
    outline: none;
  }
  
  
  .btn2:hover{
    box-shadow: inset 150px 0 0 0 yellow;
  }
  
  
  
  .m-1 {margin: 1rem}
  .m-2 {margin: 1.5rem}
  .m-3 {margin: 3rem}
  
  .p-1 {padding: 1.25rem}
  .p-2 {padding: 2rem}
  .p-3 {padding: 3rem}
  
  .py-1{padding: 1.25rem 0 }
  .py-2{padding: 2rem 0 }
  .py-3{padding: 3rem 0 }

 
  .scroll-down{
    width: 30px;
    height: 50px;
    border: 2px solid rgb(12, 160,255);
    position: absolute;
    top: 90%;
    left: 50%;
    border-radius: 50px;
    cursor: pointer;
  }
  .scroll-down::before,
  .scroll-down::after{
    content: '';
    position: absolute;
    top: 10%;
    left: 50%;
    border: 2px solid rgba(55, 55,50, 0.8);
    width: 10px;
    height: 10px ;
    transform: translate(-50%,-80%) rotate(45deg);
    border-top: transparent;
    border-left: transparent;
    animation: scroll-down 1s ease-in-out infinite;
  }
  .scroll-down::after{
    top: 30%;
    animation-delay: .3s;
  }
  @keyframes scroll-down{
    0%{opacity: 0;}
    30%{opacity: 1;}
    60%{
      opacity: 1;
    }
    100%{opacity: 0;
    top: 90%;
    }
  }
  .titr{
    padding: 0.0rem;
    display: flex;
    flex-direction: row;
  }
  /* .titr  h3{
    background: linear-gradient();
    padding: 0.4rem;
    border-radius: 25px;
    border: 1px solid #145CFF;
  } */
  
  .btn2-grad {background-image: linear-gradient(to right, #77A1D3 0%, #79CBCA  51%, #77A1D3  100%)}
  .btn2-grad {
     margin: 10px;
     padding: 15px 45px;
     text-align: center;
     text-transform: uppercase;
     transition: 0.5s ease-in-out;
     background-size: 200% auto;
     color: white;            
     box-shadow: 0 0 20px rgb(215, 180, 243);
     border-radius: 10px;
     display: block;
     border-radius: 25px;
   }

   .btn2-grad:hover {
     background-position: right bottom; /* change the direction of the change here */
     color: #fff;
     text-decoration: none;
   }
  
  .titr::after,
  .titr::before{
    background-image: linear-gradient(to right, #208b9e 0%, #8beb77  51%, #ecda72  100%);
    content: '';
    flex: 1 1;
    border-bottom: 1px solid #444;
    margin: auto;
  }

  .box{
    width:250px;
    box-shadow: 2px 2px 30px rgba(0,0,0,0.2);
    border-radius: 10px;
    overflow: hidden;
    margin:1px;
    
    background: transparent;
  }
  .slide-img{
    height: 50vh;
    position:relative;
    overflow: hidden;
  }
  .slide-img img{
    width:100%;
    height: 95%;
    object-fit:fill;
    box-sizing: border-box;
  }
  .detail-box{
    width: 100%;  
    padding: 25px 18px;
    box-sizing: border-box;
    font-family: "Vazir";
    position: relative;
  }
  .type{
    position: absolute;
   top: 0;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .type a{
    color:#222222;
    margin: 1px 0px;
    font-weight: 700;
    font-size: medium;
    letter-spacing: 0.5px;
    padding-right: 8px;
  }
  .type span{
    color:rgba(26,26,26,0.5);    
    writing-mode: sideways-rl;
    text-overflow: clip;
   display: -webkit-box;
   -webkit-line-clamp:1; /* number of lines to show */
   -webkit-box-orient: vertical;
    
  }
  .price{
    color: #333333;
    font-weight: 600;
    font-size: 1.1rem;
    font-family: poppins;
    letter-spacing: 0.5px;
  }
  .overlay{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width:100%;
    height: 100%;
    background-color: rgba(171, 92, 236, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .download{
    position: relative; 
    padding: 0.4rem 1.2rem;
    padding-right: 1.1rem;
    font-weight: 700;
    color: rgb(12, 12, 1);
    letter-spacing: 1px;
    text-transform: lowercase;
    box-shadow: rgba(0, 0, 0, 0.7) 0px 5px 15px;
    transition: all 500ms cubic-bezier(0.77, 0, 0.175, 1);  
    cursor: pointer;
    border: 1px solid gray;
    border-radius: 10px;
    user-select: none;
  }
  /* .download:hover{
    background: wheat;
    box-shadow: rgba(15, 15, 15, 0.7) 0px 5px 15px;
  } */
  .download:after ,.download:before{
    content: '';
    position: absolute; 
    transition: inherit;
    z-index: -1;
  }
  .download:hover{
    color: rgb(250, 205, 59);
    transition-delay: 0.5s;
  }
  .download:hover:after{
    background: #0c0903;
    border-radius: 10px;
    transition-delay: 0.35s;
  }
  .download:hover::before{
    transition-delay: 0s;
  }
.from-top:before,
.from-top:after{
left: 0;
height: 0;
width: 100%;
}
.from-top:before{
  bottom: 0;
  border: 1px solid #ecda72;
  border-radius: 10px;
  border-top: 0;
  border-bottom: 0;
}
.from-top:after{
  top: 0;
  height: 0;
}
.from-top:hover:after,.from-top:hover:before{
height: 100%;
}
.buy-btn:hover{
    color:#FFFFFF;
    background-color: #f15fa3;
    transition: all ease 0.3s;
  }
  .overlay{
    visibility: hidden;
  }
  .slide-img:hover .overlay{
    visibility: visible;
    animation:fade .5s;
  }
   
  @keyframes fade{
    0%{
      opacity: 0;
    }
    100%{
      opacity: 1;
    }
  }
  #slider{
    width:100%;
    height: 100vh;
    margin-right: 0px;
    margin-left: 10px;
    position: relative;
  }
  #slider .more{
    position: absolute;
    top: 70%;
  }
  .cs-hidden{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    overflow: hidden;
    margin: 10px;

    scroll-snap-type: proximity;
    scroll-behavior: smooth;
    align-items: baseline;
    justify-content: right;
    cursor: grab;
    user-select: none;
    background: transparent;
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
    overflow-x: scroll; 
  }
  .cs-hidden::-webkit-scrollbar,.ul-book::-webkit-scrollbar,.ul-music::-webkit-scrollbar{
    display: none;
  }
 
  .cs-hidden li{
    list-style: none;
    background: rgba(0, 0, 0, 0.0);
    margin-left: 10px;
    padding-right: 0px;
    margin-right: 0px;
  }

  
  #showcase{
    background: url('../img/background-showcase.jpg') no-repeat center center/cover;
    height: 100vh;
    position: relative;
  }
  
  #showcase .showcase-content{
    display: grid;
    /* flex-direction: column; */
    text-align: center;
    
    grid-template-rows: 85vh auto ;
    gap: 0px 0px;
    height: 80vh;
    color: darkturquoise;
  }
  .showcase_img {
    position: relative;
    z-index: 0;
    height:70vh;
    width: 100%;
    }
     .showcase_img .img{
       width: 35%;
      max-width: 100%;
      position: absolute;
      height:90%;
      display: block;
      top: 20px;
      animation: img_anim 3s;
    }
  .showcase_img .img2 {
    max-width: 100%;
    margin-right: 17%;
    margin-left: 0px;
    width: 80%;
    height:100%;
    animation: img2_anim 4s;
   
  }
  .showcase_img .img3 {
    max-width: 100%;
    width: 25%;
    height: 70%;
    position: absolute;
    top: 5px;
    left: 13%;
  }
  .item_div{

    height: 5vh;
   
  }
  .m-show{
    margin-bottom: 0.6rem;
  }
  
    @keyframes img_anim{
      0%{top: -20px;}
      25%{top: 0px;}
      100%{top: 20px;}
    }
    @keyframes img2_anim{
      0%{margin-right: 0%;}
      25%{margin-right: 10%;}
      100%{margin-right: 17%;}
    }
   
    #sec-1 {
      min-height: 90vh;
      width: 100%;
      position: relative;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      flex: 100%;
    }
  #contact{
    display: flex;
    justify-content: center;
  }
  
  #contact .contact-form{
    flex-basis: 600px;
    text-align: right
  }
  
  
  
  #contact .contact-form label{
    display: block;
    margin: 1rem 0;
  }
  
  #contact .contact-form input ,
  #contact .contact-form textarea{
    width: 100%;
    padding: 0.5rem
  }
  
  #main-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .more{
    position: absolute;
    left: 50%;
    height: 50px;
    box-sizing: border-box;
    transform: translate(-50%, 0);
    border: 2px solid #016161;
    border-radius: 25px;
    border-left: #33333300;
    border-right: #33333300;
    padding: 10px;
    direction: rtl;
    cursor: pointer;
    vertical-align: middle;
    text-align: center;
  }
  .more span{
    
    vertical-align: middle;
    max-width: 0;
   -webkit-transition: max-width 1s;
   transition: max-width 1s ease-in-out;
   display: inline-block;
   vertical-align: top;
   white-space: nowrap;
   overflow: hidden;
  }
  .more:hover span{
    max-width: 12rem;
  }
  .more span::after{
    content: url("../img/more.svg");
  }
  #section2,#section3{
    width:100%;
    height: 50vh;
    padding: 0.0rem;
    margin-bottom: 0.1rem;
    position: relative;
    overflow: hidden;

   
  }
  #section2 ul ,#section3 ul{
    list-style: none;
    
   
    
  }
  #section2 ul{
    margin-top: -5px;
    padding: 0px;
  }
  
  .box-book{
    position: relative;
    margin: 20px;
    
    background-image: linear-gradient( 135deg, #FF96F9 10%, #C32BAC 100%);
    display: flex;
    flex-direction: column;
    width: 310px;
    height: auto;
    box-shadow: rgba(0, 0, 0, 0.7) 0px 5px 15px;
  }
  
  .top-item{
    border: 2px solid #eeebe68c;
    display: flex;
    justify-content: center;
    position: relative;

  }
  .top-item img{
    border: 5px solid transparent;
    box-shadow: inset 0px 1px 1px 0px #0c0903;
    /* box-shadow: 10px 0 5px -2px rgb(12, 11, 11); */
    cursor: pointer;
    width: 40%;
    height: 40%;
    max-height: 40%;
    padding: 4px ;
    transform: perspective(1000px) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    transition: all ease-in-out 1s;
    position: relative;
    z-index: 0;
  }
  .top-item img:hover{
    padding: 1px;
    transform: perspective(1000px) rotateX(-0deg) rotateY(-20deg) rotateZ(10deg) ;
    perspective: 500px;
    
  }


  .type-book {
    display: flex;
    flex-direction: column;
    justify-content: right;
    align-items: flex-start;
    
    position: relative;
  }
  .type-book span{
    overflow: hidden;
    max-width: 25ch;
    text-overflow: ellipsis;
    white-space: nowrap;
   
    margin: 5px;
    margin-left: 20px;
    
  }
  #download-book{
    width: 80px;
    border: 1px solid #ec0808cc;
    border-radius: 4px;
    padding: 0.9rem;
    display: block;
    margin: 5px auto;
    text-align: center;
    height: auto;
    position: absolute;
    bottom: 3px;
    left: 5px;
    text-decoration: none;
    color: #200341;
    box-shadow: inset 0 0 0 0 yellowgreen;
    outline: none;
    transition:  ease-in-out 0.3s;
  }
  #download-book:hover{
    box-shadow: inset 80px 0 0 0 yellowgreen;
    /* color: #C32BAC; */
  }
  .ul-book{
    display: flex;
    flex-flow: column;
    flex-direction: row;
    align-items: center;
    overflow: hidden;
    scroll-snap-type: proximity;
    scroll-behavior: smooth;
    cursor: grab;
    user-select: none;
    z-index: 0;
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
    overflow-x: scroll; 
   
  }
  #section2 .titr{
    position: relative;
    top: -2px;
    margin: 0;
    padding-bottom: 0;
    height: auto;
  }
  #section2 .titr .btn2-grad ,#section3 .titr .btn2-grad {
    margin: 5px;
    padding: 10px 35px;
    font-size:small;
  }
  #section2{
    
    height: 52vh;
  }
  #section3{
    height: 48vh;
  }
  #section3 ul{
    margin-right: -50px;
  }
  .ul-book .more{
    position: absolute;
    top: 80%;
    margin: 0px;
    
    height: 40px;
    font-size: smaller;
    padding: 10px 10px;
    font-weight: 600;
  }
  .ul-book li{
    position: relative;
    top: -15px;
    margin-top: -3px;
    padding: 0;
    margin-bottom: 500px;
  }
  .ul-music{
    display: flex;
    flex-flow: column;
    flex-direction: row;
    align-items: flex-start;
    
    gap: 0px;
    
    overflow: hidden;
    scroll-snap-type: proximity;
    scroll-behavior: smooth;
    cursor: grab;
    user-select: none;
    z-index: 100;
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
    overflow-x: scroll; 
  }
  
  .ul-music li{
    position: relative;
    top: -10px;
  }
  .ul-music .more{
position: absolute;
top: 80%;
margin: 10px;
height: 40px;
font-size: smaller;
padding: 10px 10px;
font-weight: 600;
  }
  #section3 .titr{
    position: relative;
    bottom: -15px;
    top: 2px;
  }
  .detail{
    position: absolute;
    bottom: 0;
    left: 10px;
  }
  
  ::-webkit-scrollbar{
    width: 5px;
    border-radius: 20px;
    
  }
  ::-webkit-scrollbar-track{
    box-shadow: 0 0 0 0 gray;
    border-radius: 20px;
  }
  ::-webkit-scrollbar-thumb{
    background: #0CEBEB;
    border-radius: 20px;
    transition: all ease-in-out 8s;

  }
  ::-webkit-scrollbar-thumb:hover{
    /* change the direction of the change here */
    color: #fff;
    background: #8beb77;
    text-decoration: none;
  }
.input-text{
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  transition: all ease-in-out 800ms ;

}
.input-text:hover{
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  
}
.input-text:focus{
  background: #77e7904f;
}
.button-effect{
  background: linear-gradient(-65deg,#fff,#ff3,#f34);
 
  background: #20E3B2;
 
  box-shadow: 0 5px 0 0 #cdcbd171;
  transition: all 800ms ease-in-out;
  border-radius: 5px;
}
.button-effect:hover{
  transform: translateY(0.3rem);
  box-shadow: 0 0.2rem 0 0 #b9b7be79;
}
.caontainer-book{

  height: 40vh;
  width: 100%;
  position: relative;

}
#right-arrow-key{
z-index: 2;
position: absolute;
top:25%;
cursor: pointer;
margin-left: 5px;
left: 0;
}

#left-arrow-key{
  z-index: 2;
  position: absolute;
  right: 0;
  top:25%;
  cursor: pointer;
  margin-right: 5px;
  }
  .icon-light{
    color: #016161;
    transition: color ease-in-out 800ms; 
  }
  .icon-light:hover{
    color: #2b4e4e;
  }
  .more-book{
    position: absolute;
    bottom: 5px;
  }
 
  .effect{
    box-shadow: 0px 5px 12px 10px rgba(163, 160, 160, 0.507);
    transform: rotate3d(0, 0, 0, 0deg);
    transform: perspective(1500px) rotateY(15deg);
    border-radius: 1rem;
    transition: transform 1s ease 0s;
}

.effect:hover{
    transform: perspective(3000px) rotateY(5deg);
}
.img-music{
  height: 100%;
}
.card{
  
  width: 540px;
  height: 20%;
  padding: 0;
  margin: 0;
  top: 0;
}
